langchain
python-dotenv
ipykernel
langchain_groq
langchain_google_genai
langchain-community
pypdf
faiss-cpu
structlog
PyMuPDF
pandas
streamlit
langchain-core[tracing]
pytest
langchain-text-splitters

-e .